() URxvt.scrollBar: false

#include "terminal-themes/base16.xresources"

URxvt.font: xft:terminus:size=10

Xft.antialias: true
Xft.autohint: true
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
